@import './utilities/container';
@import './utilities/background';
@import './utilities/buttons';
@import './utilities/margin';
@import './utilities/padding';
@import './utilities/progress';
@import './utilities/spinner';
@import './utilities/text';

.flat {
  box-shadow: none;
  border-radius: 0;

  &:active {
    box-shadow: inset 1px 1px 3px $grey-light-1, inset -1px -1px 3px $white;
  }
}

.disabled {
  opacity: 0.6;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
}
