$red: #f44336;
$red-light-5: #ffebee;
$red-light-4: #ffcdd2;
$red-light-3: #ef9a9a;
$red-light-2: #e57373;
$red-light-1: #ef5350;
$red-dark-1: #e53935;
$red-dark-2: #d32f2f;
$red-dark-3: #c62828;
$red-dark-4: #b71c1c;
$red-accent-1: #ff8a80;
$red-accent-2: #ff5252;
$red-accent-3: #ff1744;
$red-accent-4: #d50000;

$pink: #e91e63;
$pink-light-5: #fce4ec;
$pink-light-4: #f8bbd0;
$pink-light-3: #f48fb1;
$pink-light-2: #f06292;
$pink-light-1: #ec407a;
$pink-dark-1: #d81b60;
$pink-dark-2: #c2185b;
$pink-dark-3: #ad1457;
$pink-dark-4: #880e4f;
$pink-accent-1: #ff80ab;
$pink-accent-2: #ff4081;
$pink-accent-3: #f50057;
$pink-accent-4: #c51162;

$purple: #9c27b0;
$purple-light-5: #f3e5f5;
$purple-light-4: #e1bee7;
$purple-light-3: #ce93d8;
$purple-light-2: #ba68c8;
$purple-light-1: #ab47bc;
$purple-dark-1: #8e24aa;
$purple-dark-2: #7b1fa2;
$purple-dark-3: #6a1b9a;
$purple-dark-4: #4a148c;
$purple-accent-1: #ea80fc;
$purple-accent-2: #e040fb;
$purple-accent-3: #d500f9;
$purple-accent-4: #aa00ff;

$deep-purple: #673ab7;
$deep-purple-light-5: #ede7f6;
$deep-purple-light-4: #d1c4e9;
$deep-purple-light-3: #b39ddb;
$deep-purple-light-2: #9575cd;
$deep-purple-light-1: #7e57c2;
$deep-purple-dark-1: #5e35b1;
$deep-purple-dark-2: #512da8;
$deep-purple-dark-3: #4527a0;
$deep-purple-dark-4: #311b92;
$deep-purple-accent-1: #b388ff;
$deep-purple-accent-2: #7c4dff;
$deep-purple-accent-3: #651fff;
$deep-purple-accent-4: #6200ea;

$indigo: #3f51b5;
$indigo-light-5: #e8eaf6;
$indigo-light-4: #c5cae9;
$indigo-light-3: #9fa8da;
$indigo-light-2: #7986cb;
$indigo-light-1: #5c6bc0;
$indigo-dark-1: #3949ab;
$indigo-dark-2: #303f9f;
$indigo-dark-3: #283593;
$indigo-dark-4: #1a237e;
$indigo-accent-1: #8c9eff;
$indigo-accent-2: #536dfe;
$indigo-accent-3: #3d5afe;
$indigo-accent-4: #304ffe;

$blue: #2196f3;
$blue-light-5: #e3f2fd;
$blue-light-4: #bbdefb;
$blue-light-3: #90caf9;
$blue-light-2: #64b5f6;
$blue-light-1: #42a5f5;
$blue-dark-1: #1e88e5;
$blue-dark-2: #1976d2;
$blue-dark-3: #1565c0;
$blue-dark-4: #0d47a1;
$blue-accent-1: #82b1ff;
$blue-accent-2: #448aff;
$blue-accent-3: #2979ff;
$blue-accent-4: #2962ff;

$light-blue: #03a9f4;
$light-blue-light-5: #e1f5fe;
$light-blue-light-4: #b3e5fc;
$light-blue-light-3: #81d4fa;
$light-blue-light-2: #4fc3f7;
$light-blue-light-1: #29b6f6;
$light-blue-dark-1: #039be5;
$light-blue-dark-2: #0288d1;
$light-blue-dark-3: #0277bd;
$light-blue-dark-4: #01579b;
$light-blue-accent-1: #80d8ff;
$light-blue-accent-2: #40c4ff;
$light-blue-accent-3: #00b0ff;
$light-blue-accent-4: #0091ea;

$cyan: #00bcd4;
$cyan-light-5: #e0f7fa;
$cyan-light-4: #b2ebf2;
$cyan-light-3: #80deea;
$cyan-light-2: #4dd0e1;
$cyan-light-1: #26c6da;
$cyan-dark-1: #00acc1;
$cyan-dark-2: #0097a7;
$cyan-dark-3: #00838f;
$cyan-dark-4: #006064;
$cyan-accent-1: #84ffff;
$cyan-accent-2: #18ffff;
$cyan-accent-3: #00e5ff;
$cyan-accent-4: #00b8d4;

$teal: #009688;
$teal-light-5: #e0f2f1;
$teal-light-4: #b2dfdb;
$teal-light-3: #80cbc4;
$teal-light-2: #4db6ac;
$teal-light-1: #26a69a;
$teal-dark-1: #00897b;
$teal-dark-2: #00796b;
$teal-dark-3: #00695c;
$teal-dark-4: #004d40;
$teal-accent-1: #a7ffeb;
$teal-accent-2: #64ffda;
$teal-accent-3: #1de9b6;
$teal-accent-4: #00bfa5;

$green: #4caf50;
$green-light-5: #e8f5e9;
$green-light-4: #c8e6c9;
$green-light-3: #a5d6a7;
$green-light-2: #81c784;
$green-light-1: #66bb6a;
$green-dark-1: #43a047;
$green-dark-2: #388e3c;
$green-dark-3: #2e7d32;
$green-dark-4: #1b5e20;
$green-accent-1: #b9f6ca;
$green-accent-2: #69f0ae;
$green-accent-3: #00e676;
$green-accent-4: #00c853;

$light-green: #8bc34a;
$light-green-light-5: #f1f8e9;
$light-green-light-4: #dcedc8;
$light-green-light-3: #c5e1a5;
$light-green-light-2: #aed581;
$light-green-light-1: #9ccc65;
$light-green-dark-1: #7cb342;
$light-green-dark-2: #689f38;
$light-green-dark-3: #558b2f;
$light-green-dark-4: #33691e;
$light-green-accent-1: #ccff90;
$light-green-accent-2: #b2ff59;
$light-green-accent-3: #76ff03;
$light-green-accent-4: #64dd17;

$lime: #cddc39;
$lime-light-5: #f9fbe7;
$lime-light-4: #f0f4c3;
$lime-light-3: #e6ee9c;
$lime-light-2: #dce775;
$lime-light-1: #d4e157;
$lime-dark-1: #c0ca33;
$lime-dark-2: #afb42b;
$lime-dark-3: #9e9d24;
$lime-dark-4: #827717;
$lime-accent-1: #f4ff81;
$lime-accent-2: #eeff41;
$lime-accent-3: #c6ff00;
$lime-accent-4: #aeea00;

$yellow: #ffeb3b;
$yellow-light-5: #fffde7;
$yellow-light-4: #fff9c4;
$yellow-light-3: #fff59d;
$yellow-light-2: #fff176;
$yellow-light-1: #ffee58;
$yellow-dark-1: #fdd835;
$yellow-dark-2: #fbc02d;
$yellow-dark-3: #f9a825;
$yellow-dark-4: #f57f17;
$yellow-accent-1: #ffff8d;
$yellow-accent-2: #ffff00;
$yellow-accent-3: #ffea00;
$yellow-accent-4: #ffd600;

$amber: #ffc107;
$amber-light-5: #fff8e1;
$amber-light-4: #ffecb3;
$amber-light-3: #ffe082;
$amber-light-2: #ffd54f;
$amber-light-1: #ffca28;
$amber-dark-1: #ffb300;
$amber-dark-2: #ffa000;
$amber-dark-3: #ff8f00;
$amber-dark-4: #ff6f00;
$amber-accent-1: #ffe57f;
$amber-accent-2: #ffd740;
$amber-accent-3: #ffc400;
$amber-accent-4: #ffab00;

$orange: #ff9800;
$orange-light-5: #fff3e0;
$orange-light-4: #ffe0b2;
$orange-light-3: #ffcc80;
$orange-light-2: #ffb74d;
$orange-light-1: #ffa726;
$orange-dark-1: #fb8c00;
$orange-dark-2: #f57c00;
$orange-dark-3: #ef6c00;
$orange-dark-4: #e65100;
$orange-accent-1: #ffd180;
$orange-accent-2: #ffab40;
$orange-accent-3: #ff9100;
$orange-accent-4: #ff6d00;

$deep-orange: #ff5722;
$deep-orange-light-5: #fbe9e7;
$deep-orange-light-4: #ffccbc;
$deep-orange-light-3: #ffab91;
$deep-orange-light-2: #ff8a65;
$deep-orange-light-1: #ff7043;
$deep-orange-dark-1: #f4511e;
$deep-orange-dark-2: #e64a19;
$deep-orange-dark-3: #d84315;
$deep-orange-dark-4: #bf360c;
$deep-orange-accent-1: #ff9e80;
$deep-orange-accent-2: #ff6e40;
$deep-orange-accent-3: #ff3d00;
$deep-orange-accent-4: #dd2c00;

$brown: #795548;
$brown-light-5: #efebe9;
$brown-light-4: #d7ccc8;
$brown-light-3: #bcaaa4;
$brown-light-2: #a1887f;
$brown-light-1: #8d6e63;
$brown-dark-1: #6d4c41;
$brown-dark-2: #5d4037;
$brown-dark-3: #4e342e;
$brown-dark-4: #3e2723;

$blue-grey: #607d8b;
$blue-grey-light-5: #eceff1;
$blue-grey-light-4: #cfd8dc;
$blue-grey-light-3: #b0bec5;
$blue-grey-light-2: #90a4ae;
$blue-grey-light-1: #78909c;
$blue-grey-dark-1: #546e7a;
$blue-grey-dark-2: #455a64;
$blue-grey-dark-3: #37474f;
$blue-grey-dark-4: #263238;

$grey: #9e9e9e;
$grey-light-5: #fafafa;
$grey-light-4: #f5f5f5;
$grey-light-3: #eeeeee;
$grey-light-2: #e0e0e0;
$grey-light-1: #bdbdbd;
$grey-dark-1: #898989;
$grey-dark-2: #757575;
$grey-dark-3: #616161;
$grey-dark-4: #424242;
$grey-dark-5: #212121;

$white: #ffffff;
$black: #000000;
