@import '../variables';
@import '../functions';

/* Linear-spinner */
%spinner-linear-shared {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 10rem;
  height: 10rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin set-spinner-linear-color($color) {
  border-color: $grey-light-3;
  border-top-color: $color;
}

@each $name in $color-name {
  $i: index($color-name, $name);
  .spinner-linear-#{$name} {
    @extend %spinner-linear-shared;
    @include set-spinner-linear-color(nth($color-var, $i));
  }
}

/* Async Spinner */
%spinner-async-shared {
  border-radius: 50%;
  font-size: 1rem;
  text-indent: -99999rem;
  position: relative;
  width: 10rem;
  height: 10rem;
  box-shadow: inset 0 0 0 1.5rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  // color: $danger-color;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 5.2rem;
    height: 10.2rem;
    top: -0.1rem;
    background-color: $light-color; /* equal bg-color */
  }
  &:before {
    border-radius: 10.2rem 0 0 10.2rem;
    left: -0.1rem;
    -webkit-transform-origin: 5.1rem 5.1rem; /* Safari */
    transform-origin: 5.1rem 5.1rem;
    -webkit-animation: load2 1.5s infinite ease 1s; /* Safari */
    animation: load2 2s infinite ease 1.5s;
  }
  &:after {
    border-radius: 0 10.2rem 10.2rem 0;
    left: 4.9rem;
    -webkit-transform-origin: 0.1rem 5.1rem; /* Safari */
    transform-origin: 0.1rem 5.1rem;
    -webkit-animation: load2 1s infinite ease; /* Safari */
    animation: load2 2s infinite ease;
  }
}

/* Safari */
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@each $name in $color-name {
  $i: index($color-name, $name);
  .spinner-async-#{$name} {
    @extend %spinner-async-shared;
    color: nth($color-var, $i);
  }
}
